.trapezoid {
    width: 35vw;
    right: 0;
    height: 0px;
    position: fixed;
    border-bottom: calc(100vh - 0px) solid #D6334B;
    border-left: 15vw solid transparent;
    border-right: 0px solid transparent;
}

.directory {
    text-align: right;
    position: absolute;
    right: 0;
    height: 100%;
}
