.animation {
    animation: helloThereAnimation 0.75s;
    animation-delay: 250ms;
}

@keyframes helloThereAnimation {
    0% {
        font-size: 3rem;
    }
    50% {
        font-size: 3.5rem;
    }
    100% {
        font-size: 3rem;
    }
}
